{% load social %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ page.title }}</h1>

      {% if page.subtitle %}
        <h3>{{ page.subtitle }}</h3>
      {% endif %}

      {% if page.link_url and page.link_text %}<a href="{{ page.link_url }}">{{ page.link_text }}</a>{% endif %}

      <h1>{{ current_slug }}</h1>

      <ul class="list-unstyled list-inline">
          <li><a href="/team/" class="{% if current_slug == 'team' %}active{% endif %}">Team</a></li>
        {% for team in teams %}
          <li><a href="/team/{{ team.slug }}" class="{% if current_slug == team.slug %}active{% endif %}">{{ team.title }}</a></li>
        {% endfor %}
      </ul>

      {% if page.social %}
        {% social title=page.social.title %}
      {% endif %}

      {% if page.background_image %}<img src="{{ page.background_image.url }}" class="img-responsive">{% endif %}
    </div>
  </div>
</div>

<style>
    .active {
      color:orange;
    }
</style>
