<!-- Main template for basic pages -->
{% extends "pages/base.html" %}

{% load page_header_team %}
{% load social %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
  {% page_header_team page=page teams=teams current_slug=current_slug %}

  <section id="section-profile" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ profile.image.url }}" class="img-responsive" />
        </div>

        <div class="col-md-6">
          <h1 class="font-extra-light">{{ profile.title }}</h1>
          <h4 class="font-block-medium">{{ profile.job_title }}</h4>
          <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
          {% social title=profile.social.title %}
        </div>

        <div class="col-md-9">
          <p>{{ profile.bio|safe }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
