<!-- Main template for basic pages -->
{% extends "pages/base.html" %}

{% load page_header_team %}
{% load social %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
  {% page_header_team page=page teams=teams current_slug=current_slug %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{{ profile.image.url }}" class="img-responsive" />
        <h1>{{ profile.title }}</h1>
        <h3>{{ profile.job_title }}</h3>
        <p>{{ profile.bio|safe }}</p>
        <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
        {% social title=profile.social.title %}
      </div>
    </div>
  </div>
{% endblock %}
