{% extends "pages/base.html" %}

{% block title %}
  All Experiences
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>All Experiences</h1>
      </div>
    </div>

    <div class="row">
      {% for experience in experiences %}
        <div class="col-sm-3">
          <a href="/media/experiences/{{ experience.slug }}"><img src="{{ experience.series.image.url }}" class="img-responsive"/></a>
          <h5>{{ experience.title }}</h5>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
