{% load sections.default %}
{% load sections.two_column %}
{% load sections.three_column %}
{% load sections.video_group %}
{% load sections.video %}

{% for section in sections %}
  {% if section.type == "default" %}
    {% default section=section.object %}
  {% elif section.type == "twocolumn" %}
    {% two_column section=section.object %}
  {% elif section.type == "threecolumn" %}
    {% three_column section=section.object %}
  {% elif section.type == "videogroup" %}
    {% video_group section=section.object %}
  {% elif section.type == "video" %}
    {% video section=section.object %}
  {% endif %}
{% endfor %}
