<!-- Main template for basic pages -->
{% extends "pages/base.html" %}
{% load navigation %}
{% load social %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
        {% if link_url %}<a href="{{ link_url }}">{{ link_text }}</a>{% endif %}

        {% if menu is not None %}
          {% navigation title=menu.title inline=True %}
        {% endif %}

        {% if social is not None %}
          {% social title="Main" %}
        {% endif %}

        <img src="{{ image }}" class="img-responsive">
      </div>
    </div>
  </div>
{% endblock %}
