<!-- embeds navigation menu -->
{% if title == "Main" %}

  {% if mobile %}
  <div class="nav-mobile-wrapper">
    <nav id="nav-mobile" role="navigation" class="nav-mobile">
      <ul>
      {% for item in navigation_items %}
        <li><a href="{{ item.url }}" {% if item.new_tab %}target="_blank"{% endif %} class="{% if current_slug == item.url %}active{% endif %}">{{ item.display_title }}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </div>

  {% else %}

  <div class="nav-wrapper">
    <nav id="nav" role="navigation" class="nav">
      <div class="vertical-align-wrapper">
        <div class="vertical-align">
          <ul>
          {% for item in navigation_items %}
            <li><a href="{{ item.url }}" {% if item.new_tab %}target="_blank"{% endif %} class="{% if current_slug == item.url %}active{% endif %}">{{ item.display_title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  {% endif %}

{% elif title == "Footer" %}
  <div class="vertical-align-wrapper">
    <div class="vertical-align">
      <ul>
      {% for item in navigation_items %}
        <li><a href="{{ item.url }}" {% if item.new_tab %}target="_blank"{% endif %} class="{% if current_slug == item.url %}active{% endif %}">{{ item.display_title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
  {% if navigation_items %}
    <div id="page-nav" class="page-nav">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 no-gutter">
            <div class="nav-shadow-left"></div>
            <ul>
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  {% for item in navigation_items %}
                    <li><a href="{{ item.url }}" {% if item.new_tab %}target="_blank"{% endif %} class="{% if current_slug == item.url %}active{% endif %}">{{ item.display_title }}</a></li>
                  {% endfor %}
                </div>
              </div>
            </ul>
            <div class="nav-shadow-right"></div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
