{% extends "pages/base.html" %}

{% block title %}
  Events
{% endblock %}

{% block header_includes %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if error %}
        <div class="col-sm-12">
          <h1>{{ error }}</h1>
        </div>
      {% else %}
        <div class="col-sm-6">
          <div id="cover-img-{{ event.cover.id }}" class="cover-img"></div>

          <script>
            $.ajax({
              url: "https://graph.facebook.com/{{ api_version }}/{{ event.id }}?fields=cover&access_token={{ access_token }}",
              dataType: "JSON",
              success: function(data) {
                if (data.cover) {
                  var source = data.cover.source;
                  $("#cover-img-{{ event.cover.id }}").css("background-image", "url('" + source + "')");
                }
              }
            });
          </script>

          <style>
            .cover-img {
              height:300px;
              width:100%;
              background-position: center;
              background-size: cover;
            }
          </style>
        </div>

        <div class="col-sm-6">

        </div>

        <div class="col-sm-6">
          <h2>{{ event.name }}</h2>
          <h4>{{ event.place.name }} | {{ event.place.location.city }}, {{ event.place.location.state }}</h4>
          <h5>Start: {{ event.start_time }}</h5>
          <h5>End: {{ event.end_time }}</h5>
          <h5>Attending on Facebook: {{ event.attending_count }}</h5>
          {% if ticket_uri %}<a href="{{ ticket_uri }}" class="btn btn-default">Register</a>{% endif %}
        </div>

        <div class="col-sm-8">
          <br>
          <p>{{ event.description }}</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
