{% extends "pages/base.html" %}

{% block title %}
  Events
{% endblock %}

{% block header_includes %}
<meta property="og:url"                content="http://journeychurch.tv/events/{{ event.id }}" />
<meta property="og:title"              content="{{ event.name }}" />
<meta property="og:description"        content="{{ event.description }}" />
<meta property="og:image"              content="{{ event.cover.source }}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=582098011969883";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if error %}
        <div class="col-sm-12">
          <h1>{{ error }}</h1>
        </div>
      {% else %}
        <div class="col-sm-6">
          <div id="cover-img-{{ event.cover.id }}" class="cover-img"></div>

          <script>
            $.ajax({
              url: "https://graph.facebook.com/{{ api_version }}/{{ event.id }}?fields=cover&access_token={{ access_token }}",
              dataType: "JSON",
              success: function(data) {
                if (data.cover) {
                  var source = data.cover.source;
                  $("#cover-img-{{ event.cover.id }}").css("background-image", "url('" + source + "')");
                }
              }
            });
          </script>

          <style>
            .cover-img {
              height:300px;
              width:100%;
              background-position: center;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
          </style>
        </div>

        <div class="col-sm-6">
          <h2>{{ event.name }}</h2>
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i> {{ event.place.name }} | <a href="https://google.com/maps/?q={{ event.place.location.latitude }},{{ event.place.location.longitude }}">Directions</a> <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
          <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ date }}</h5>
          <h5><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.start_time|date:"g:i a" }} - {{ event.end_time|date:"g:i a" }}</h5>
          <h5><i class="fa fa-check" aria-hidden="true"></i> {{ event.attending_count }} Attending on Facebook</h5>
          {% if ticket_uri %}<a href="{{ ticket_uri }}" class="btn btn-default">Register</a>{% endif %}
          <div class="fb-share-button" data-href="/events/{{ event.id }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
          <a id="twitter-share-button" class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
        </div>

        <div class="col-sm-8">
          <br>
          <p>{{ event.description }}</p>
        </div>

        <script>
          $(document).ready(function() {
            var twitterUrl = "https://twitter.com/intent/tweet";
            var twitterMessage = "?text=Come join us {{ date }} for {{ event.name }}!";
            var shareUrl = "&url=http://journeychurch.tv/events/{{ event.id }}";
            var via = "&via=journeychurchtv";

            $("#twitter-share-button").attr("href", twitterUrl + twitterMessage + shareUrl + via);
          });
        </script>
      {% endif %}
    </div>
  </div>
{% endblock %}
