<!-- embeds social media -->
{% if social %}
  <ul class="list-unstyled list-inline">
    {% if social.facebook %}<li><a href="https://facebook.com/{{ social.facebook }}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>{% endif %}
    {% if social.twitter %}<li><a href="https://twitter.com/{{ social.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{% endif %}
    {% if social.instagram %}<li><a href="https://instagram.com/{{ social.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{% endif %}
    {% if social.youtube %}<li><a href="https://youtube.com/{{ social.youtube }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>{% endif %}
    {% if social.snapchat %}<li><a href="https://snapchat.com/add/{{ social.snapchat }}" target="_blank"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>{% endif %}
  </ul>
{% endif %}
