{% if youtube_id %}
<section id="section-{{ slug }}" {% if background_color or background_image %}style="{% if background_color %}background-color: #{{ background_color }};{% endif %}{% if background_image %}background-image: url('{{ background_image.url }}');{% endif %}" {% if background_image %}class="bg-img"{% endif %}{% endif %}>
  <div class="container">
    <div class="row">
      {% if title %}<div class="col-xs-12"><h1>{{ title }}</h1></div>{% endif %}

      <div class="clearfix"></div>

      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtube_id }}?rel=0&modestbranding=1&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-4">
        {% if video_title %}<h2>{{ video_title }}</h2>{% endif %}
        {% if video_description %}<p>{{ video_description|safe }}</p>{% endif %}<br>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</section>
{% endif %}
